body {
    background-color: aqua;
    font-family: 'Poppins', sans-serif;
    
}

#fishTank {
    display: flex;
    flex-wrap: nowrap;
    margin: 1em; 
    border: 5px red dashed;  
}

.fishList {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    border: 2px orange dashed;
    flex-direction: row;
}

.fishList-card{
    background: yellow;
    margin: 1em;
    flex-basis: 25%;
    padding: 1em 1em;

}

.card-image {

}

.fish-image {
    width: 100%;
    height: auto;
}

.card-info {
    border: 2px blue dashed;

}

.card-info > li {

}

aside {
    border: 2px blue dashed;
    flex: 1;
}

aside > div {

}


.quotes {

}

.places {

}
